<div class="container-fluid">
<div class="row signin_form">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="center create-acc">Log into your Account</h1>
		<div class="login_input center">
			<%= form_tag login_path do %>
			  <label class="form-input">Email:</label>
			  <br>
			  <%= text_field_tag :email %>
			  <br>
			  <label class="form-input">Password:</label>
			  <br>
			  <%= password_field_tag :password %>
			  <br><br>
			  <%= submit_tag "Login" %>
			<% end %>
		</div>
	</div>
</div>
</div