
<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>


<% if @user.truck_owner? %>
	<%# This is for when a user is a trucker owner %>
	<h1>Truck Orders for Truck: <%= @current_truck %></h1>
	<% @truck_orders.each do |order| %>
	<li><%= order.id %></li>
	<%= link_to "Show Order" , truck_order_path(params[:truck_id], order.id) %>
	<% end %>
<% else %>
	<%# This is for when a user is not a truck owner so it should show the current users orders %>
	<h1>You are not supposed to see this, check back to the index.html.erb for Orders!!!</h1>

<% end %>

