<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>
<% @foods.each do |food| %>
	<%= food.food_name %>
	<%= food.description %>
	<%= food.price %> 
	<%= link_to "show" , truck_food_path(params[:truck_id], food.id) %>
<% end %>