<h1>All My Foods</h1>
<% @foods.each do |food| %>
	<h3><%= food.food_name %></h3>
	<li><%= food.description %></li>
	<li><%= food.price %> </li>
	<%= link_to "show" , truck_food_path(params[:truck_id], food.id) , {:style => 'color:#FFFFFF'} %>
<% end %>