@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

$opacity1: rgba(0,0,0,0.3);


@media all and (max-width: 1600px) {

// don't change this or extend will break
.white {
	color: white;
}
body {
	font-family: "Bree Serif";
	background-color: #337AB7;
}
.navbar.navbar-default {
	z-index: 1000;
}
nav.navbar.navbar-default {
	height: 55px;
}
.logo_icon {
	width: 80px;
}
#logo_icon2 {
	width: 250px;
}
.glyphicon.glyphicon-menu-hamburger{
	font-size: 30px;
	margin: 20px 20px;
}
.navbar-brand2 {
	font-size: 1.6em;
}

#banner_txt {
	text-align: center
}
.signin_form {
	background-color: $opacity1;
    height: 300px;
    margin-bottom: 30px;
}

// This is for the Title of the homepage
#head-banner {
	@extend .white;
	padding: 5px;
}
////////////////////////////////////////////

// This is for the h1 of the create account
#head-banner > a {
	@extend .white;
}

.create-acc {
	color:white;
}

#head-banner2 {
	@extend .white;
	padding-left: 30px;
	padding-right: 30px;
}

.form-input {
	@extend .white;
}
////////////////////////////////////////////

.signup_banner {
	background-color: $opacity1;
    height: 400px;
}
.signin_banner {
	background-color: $opacity1;
} 
.center {
	text-align: center;
}
input[type=submit] {
	color: black;
}
.map_img {
	width: 300px;
    margin-top: 15px;
}
.banner_text {
	background-color: $opacity1;
    margin-bottom: 15px;
    @extend .white;

}
.schedule1 {
	margin-top: 40px;
}
.nav-tabs {
	background-color: $opacity1;
}
.tab-content {
	background-color: $opacity1;
    margin-top: 15px;
}
.nav-tabs>li>a {
	margin-right: -6px;
}
.no_link {
	text-decoration: none;
	// @extend .white;
}
.no_link:hover {
	// @extend .white;
	text-decoration: none;
}
.panel-footer {
	background-color: $opacity1;
	margin-top: 50px;
	border: none;
	// @extend .white;
}
#carousel-example-generic {
    margin-top: 0px;
}
.panel.panel-default {
	margin-top: 20px;
}
.mobile_img {
	margin-bottom: 50px;
	width: 100%;
}
.add_button {
	// @extend .white;
	margin-top: 15px;
}
.modal-content{
	height: 150px;
    margin-top: 50%;
}
.signin_input {
	width: 60%;
    margin: 0 auto;
}
.nav.nav-tabs.schedule1{
	border: none;
}
.image_carousel {
	padding: 0;
}
.carousel {
	margin: -15px;
}
.img_slider {
	width: 100%;
}

.container1, .container2 {
	margin-bottom: 30px;
	width: 90%;
}
.container4 {
	margin-top: 15px;
}
#bs-example-navbar-collapse-1 {
	border: 0;
}
.hidden {
	display: none;
}
.banner_text2 {
	background-color: $opacity1;
    @extend .white;
    margin-bottom: 30px;
}
.truck_text {
	@extend .white;
}
#map{
	height: 400px;
	width: 500px;	
}
.container3 {
	margin-bottom: 50px;
}
.navbar.navbar-default {
	height: 70px;
}
ul.nav.navbar-nav.navbar-right{
	margin-top: 0px;
}
.navbar-nav {
    background-color: none;
}
.container4 {
	margin-top: 10px;
}
.jumbotron {
	background-color: $opacity1;
}
#hr_id {
	width: 75%;
}
.container7 {
	margin-bottom: 125px;
}
input.btn.btn-primary {
	margin-top: 20px;
	@extend .white;
}


}




@media all and (max-width: 768px) {

.navbar-nav {
    background-color: rgba(248,248,248,1);

}




}

